h1{ 
color: black;
font-family: 'Oswald', ;
}
h5{
 color: purple;
 font-family: 'Oswald', ;
}
h1{
text-align: center;
}
h5{
text-align: center; 
}
h1{
font-size: 100px;
}
h5{
font-size: 100;
}
ul{
  list-style-type:none;
}
li{
  display: block;
  float: left;
  padding: 1%;
  font-family:impact;
  font-size:200%;
  background-color: black;
}
a{
  text-decoration:none;
  color: teal;
}

a:hover{
  color:gold;
  background-color:purple
}
#title2{
font-size:2em;
}
