h1{ 
color: black;
font-family: 'Oswald', ;
}
h5{
 color: purple;
 font-family: 'Oswald', ;
}

ul{
  list-style-type:none;
}
li{
  display: block;
  float: left;
  padding: 1%;
  font-family:impact;
  font-size:200%;
  background-color: black;
}
a{
  text-decoration:none;
  color: teal;
}

a:hover{
  color:gold;
  background-color:purple
}
