#title{ 
color: black;
font-family: 'Oswald', ;
 text-align: center;
 font-size: 3em;
}
h5{
 color: purple;
 font-family: 'Oswald', ;
 text-align: center; 
 font-size: 2em;
}

ul{
  list-style-type:none;
}
li{
  display: block;
  float: left;
  padding: 1%;
  font-family:impact;
  font-size:200%;
  background-color: black;
}
a{
  text-decoration:none;
  color: teal;
}

a:hover{
  color:gold;
  background-color:purple
}
#title2{
font-size:2em;
}

/*This below should be body{} not background{}*/
body{
  height:300px;
  background-color:Purple;
  background-image: url("data:image/jpg;");/*you only need this if you are using a background image*/
    background-repeat:no-repeat;
  background-size:cover;
}
